.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 12vh;
  background-color: #f0f0f0;
}

.headerInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.calendar {
  width: 70%;
  padding-bottom: 2rem;
}

.event {
  white-space: normal;
  padding: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  gap: 2rem;
}

.createButton,
.deleteButton {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  
}

.createButton {
  background-color: #4caf50;
}

.createButton:hover {
  background-color: #388e3c;
}

.deleteButton {
  background-color: #f74f37;
}

.deleteButton:hover {
  background-color: #c02b2b;
}

.createButton:hover,
.deleteButton:hover {
  transform: scale(1.05);
}

.createButton:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
  transform: none;
}

@media (max-width: 768px) {
  .main h1 {
    font-size: min(6vw, 30px);
    margin-bottom: 1vw;
  }

  .main p {
      font-size: min(4vw, 20px);
  }

  .buttonContainer {
    width: 80%;
  }
  
  .buttonContainer button {
    font-size: min(3vw, 15px);
    padding: 0.5rem 0.75rem;
  }
}