/* components/dayGridTable.module.css */
.dayGridContainer {
    display: grid;
    grid-gap: 2px;
    background-color: #f0f0f0;
  }
  
  .dayGridHeader {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .dayGridBody {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .dayGridWeek {
    display: contents;
  }
  
.dayGridHeaderCell,
.dayGridCell,
.dayGridCellWeek {
    padding: 1rem;
    text-align: center;
    background-color: white;
    border: 1px solid #f0f0f0;
}
  
.dayGridHeaderCell {
    font-weight: bold;
}
  
.dayGridCell {
    height: 100px;
    position: relative;
}

.dayGridCellWeek {
    height: 100%;
    position: relative;
}
  
.dayGridCell:nth-child(7),
.dayGridHeaderCell:nth-child(7) {
    color: #ff5252;
}
  
.dayGridCell:nth-child(6),
.dayGridHeaderCell:nth-child(6) {
    color: #007fff;
}
  
.dayNumber {
    position: absolute;
    top: 8px;
    right: 8px;
}

.dayGridToday {
    background-color: #a0d6b4;
}

.event {
    background-color: #6fb6fd;
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; /* Adjust the width based on your preference */
    word-wrap: break-word; /* Allows the text to break into multiple lines */
}

.over18 {
    background-color: #ff5252;
}

.monthYearHeader {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.monthButtons {
    display: flex;
}

.arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background-color: #2C3E50;
    border-radius: 1rem;
    color: #fff;
}

.arrowsContainer {
    position: absolute;
    top: 0;
    right: 0;
}
  
.todayButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background-color: #2C3E50;
    border-radius: 1rem;
    color: #fff;
    border: none;
}

.todayButton:hover,
.arrow:hover {
    background-color: #34495e;
}


@media (max-width: 1024px) {
    .dayGridHeaderCell,
    .dayGridCell,
    .dayGridCellWeek {
        padding: 0.5rem;  /* Reduce padding */
        text-align: center;
        background-color: white;
        border: 1px solid #f0f0f0;
    }
  
    .dayGridCell {
        height: 80px;  /* Reduce height */
        position: relative;
    }
  
    .event {
        font-size: 10px;  /* Reduce font size */
        padding: 2px;  /* Reduce padding */
        margin-top: 5px;  /* Reduce margin */
    }
  
    .monthYearHeader {
        font-size: 1.2rem;  /* Reduce font size */
        margin-bottom: 1rem;
        padding-left: 0.5rem;  /* Reduce padding */
    }
  }