.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 12vh;
    background-color: #f0f0f0;
}

.headerInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

.employeeList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    align-items: start;
    justify-content: center;
    width: 90%;
    height: 80%;
    background-color: #f0f0f0;
    padding: 1rem 0;
}

.employeeCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 12px;
    text-align: left;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    background-color: #2B3746;
    line-height: 3rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    align-self: center;
}

.employeeCard h2 {
    margin-bottom: 0.5rem;
    text-align: center;
}

.employeeCard p {
    margin-bottom: 0.5rem;

}

.employeeButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.editButton {
    background-color: #37b0f7;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.editButton:hover {
    background-color: #2b8ac0;
}

.deleteButton {
    background-color: #f74f37;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #c02b2b;
}

.editEmployee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 12px;
    align-items: center;
}

.editEmployee form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.2rem 0;
    align-items: center;
    justify-content: space-between;
}

.editEmployee form label {
    margin-bottom: 0.2rem;
    font-weight: bold;
    text-align: left;
}

.editEmployee form input,
.editEmployee form select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}

.backButton {
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    background-color: #37b0f7;
}

.backButton:hover {
    background-color: #2b8ac0;
}

.submitButton {
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    background-color: #4caf50;
    margin-left: 0.5rem;
}


.submitButton:hover {
    background-color: #388e3c;
}

.editEmployee form button {
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.editEmployeeButtons {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.deleteButtonSubmit {
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    background-color: #f74f37;
}

.deleteButtonSubmit:hover {
    background-color: #c02b2b;
}

.createUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 12px;
    align-items: center;
    width: 90%;
}

.createUser h2 {
    margin-bottom: 1rem;
}

.createUser form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.createUserForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

.createUserInputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

.createUserInputWrapper label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: left;
}

.createUserInputWrapper input,
.createUserInputWrapper select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}



.createUserButtons {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.createUserButtons button {
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.createUserButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width:90%;
    padding: 1rem;
}

.createUserButtonContainer button {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .main h1 {
        font-size: min(6vw, 30px);
        margin-bottom: 1vw;
    }

    .main p {
        font-size: min(3.5vw, 20px);
    }
}

@media (max-width: 865px) {
    .createUserForm {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
    }

    .createUserInputWrapper {
        margin: 0.5rem 0;
        width: 45%;
    }
}

@media (max-width: 573px) {
    .createUserInputWrapper {
        width: 100%;
    }
}