.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 10vh;
  background-color: #f0f0f0;
}

.main h1 {
  margin: 2rem 0;
}

.calendar {
  width: 70%;
  height: 90%;
}

.event {
  white-space: normal;
  padding: 0.5rem;
}

.shiftList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 70%;
  padding: 1rem;
  border-radius: 1rem;
}

.shift {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: #f0f0f0;
  font-size: 3vw;
}

@media (max-width: 768px) {
  .shift {
    flex-direction: column;
  }
  .dateContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .main h1 {
    font-size: 6vw;
    margin-bottom: 2rem;
  }
}